.forgotpassword-form h1,
.resetpassword-form h1 {
  color: rgb(46, 46, 46);
}
.forgotpassword-form,
.resetpassword-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-form button,
.resetpassword-form button {
  width: 90%;
}
.forgotpassword-form input,
.resetpassword-form input {
  margin: 1.3rem 0;
}
@media screen and (max-width: 500px) {
  .forgotpassword-form h1,
  .resetpassword-form h1 {
    font-size: 1.3rem;
  }
}
