.user-products-container {
  position: relative;
  top: 5rem;
}
.user-products-container > section:nth-child(1) {
  top: 5rem;
  min-width: 200px;
}
.user-info > div {
  font-size: 1.1rem;
  display: flex;
  background-color: white;
  margin: 0.5rem 0;
  padding: 10px;
}
.user-icon,
.location-icon {
  display: inline-block;
  margin-right: 0.5rem;
}
.products {
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.products h1 {
  align-self: center;
  width: fit-content;
  text-align: center;
  border: 2px solid var(--main-font-color);
  border-width: 0px 0px 2px 0px;
  margin: 1rem 0;
}
.products article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.user-product-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 330px;
  background-color: white;
  margin: 1rem;
  box-shadow: 0px 0px 0.8px grey;
}
.user-product-info img:hover {
  box-shadow: 2px 2px 5px grey;
}
.products article a {
  text-decoration: none;
  color: black;
}
.user-product-info > div:nth-child(1) {
  min-width: 150px;
  height: 150px;
}
.user-product-info > div:nth-child(2) {
  padding: 10px;
}
.user-product-info > div:nth-child(2) > p:nth-child(2) {
  margin: 5px 0;
  color: rgb(202, 58, 58);
  font-size: 1.2rem;
  font-weight: 600;
}
.user-product-info > div:nth-child(2) > p:nth-child(3) {
  word-break: break-all;
  font-size: 1rem;
  color: rgb(61, 61, 61);
}
.user-product-info img {
  width: 100%;
  height: 100%;
}
.user-product-info > div:nth-child(3) {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 10px 2px 10px 2px;
}
.product-modify {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: -1px 1px 2px grey;
  display: none;
}
.product-modify.show {
  display: block;
}
.product-modify p {
  text-align: right;
  padding-right: 10px;
}
.product-modify div button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 20px;
}
.product-modify div button:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 255);
}

.menu:hover {
  color: var(--main-font-color);
}
.cancel {
  cursor: pointer;
}

.postProduct-link {
  display: inline-block;
  background-color: var(--main-font-color);
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  margin-top: 10px;
}
.postProduct-link:hover {
  background-color: rgb(45, 45, 110);
}
.wait {
  margin: 0.5rem 0;
}
.sell-noproduct-message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sell-noproduct-message p {
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-font-color);
  font-weight: 600;
  margin-bottom: 1rem;
}
.sell-noproduct-message a {
  text-align: center;
  font-size: 2rem;
  box-shadow: 0px 0px 0.5px 0.5px grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sell-noproduct-message a:hover {
  background-color: rgb(161, 161, 255);
}
@media screen and (max-width: 750px) {
  .products article {
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .user-products-container {
    top: 3rem;
  }
  .sell-noproduct-message p {
    font-size: 0.9rem;
  }
  .products h1 {
    font-size: 1.1rem;
  }
  .postProduct-link {
    font-size: 0.9rem;
  }
  .user-product-info {
    flex-direction: column;
    width: 130px;
    margin: 3px;
  }
  .user-product-info > div:nth-child(1) {
    min-width: 100%;
    height: 100%;
  }
  .product-modify {
    box-shadow: 1px 1px 2px grey;
    top: unset;
    bottom: 0;
  }
}
